$theme-primary: #00FFAF
// $theme-primary: #00FFAF
// $theme-primary: #B3A369
// $theme-primary: #36454f
// $theme-primary: #c0b080 // (SOFT GOLD)

$theme-secondary: ghostwhite
$theme-tertiary: black
$theme-quartiary: ghostwhite

$theme-primary-lite: #305070
$theme-default: ghostwhite
$theme-alternate: $theme-primary
$theme-background: black
$theme-glass: rgba(0, 0, 0, 0.7)
$theme-blue-glass: rgba(0, 255, 175, 0.7)
$theme-charcoal: #36454F
