$theme-primary: #00FFAF
// $theme-primary: #B0A070 // harder gold
// $theme-primary: #c0b080 // soft gold
// $theme-primary: #b1b1b1 // silver
// $theme-primary: #ba0c2f // scarlet

$theme-secondary: #F8F8FF
$theme-tertiary: #000000
$theme-quartiary: #b1b1b1

$theme-primary-lite: darken($theme-primary, 20%)
$theme-default: #F8F8FF
$theme-alternate: $theme-primary
$theme-charcoal: #36454F

$theme-background: black
$theme-glass: rgba($theme-tertiary, 0.7)
$theme-blue-glass: rgba($theme-primary, 0.7)
