@font-face
  font-family: 'Century Gothic'
  font-style: normal
  font-weight: 400
  src: local('Century Gothic'), url(/assets/fonts/century-gothic.ttf) format('truetype')

@font-face
  font-family: 'Century Gothic'
  font-style: normal
  font-weight: 700
  src: url(/assets/fonts/century-gothic-bold.ttf) format('truetype')

@font-face
  font-family: 'Century Gothic'
  font-style: italic
  font-weight: 400
  src: url(/assets/fonts/century-gothic-italic.ttf) format('truetype')

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap')