//
// Some Useful color Vars via http://clrs.cc/
//

// Cool
$aqua:  #7FDBFF
$blue:  #0074D9
$navy:  #001F3F
$teal:  #39CCCC
$green: #2ECC40
$olive: #3D9970
$lime:  #01FF70


// Warm
$yellow:  #FFDC00
$orange:  #FF851B
$red:     #FF4136
$fuchsia: #F012BE
$purple:  #B10DC9
$maroon:  #85144B


// Gray Scale
$white:  #fff
$silver: #ddd
$gray:   #aaa
$black:  #111


// Theme
$theme-primary: #193a5d
// $theme-primary: black
// $theme-primary: #c0b283 // (SOFT GOLD)
$theme-secondary: #b1b1b1
$theme-tertiary: ghostwhite
$theme-alternate: #193a5d

// $theme-primary: #373737
// $theme-secondary: #c0b28c
// $theme-tertiary: #f4f4f4
// $theme-alternate: #dcd0c0
// https://www.canva.com/learn/website-color-schemes/



// Isabel
$isabel-primary: #FFB6C1
$isabel-secondary: #00CED1
$isabel-tertiary: #228B22


// Random
$random-color: rgb(random(256)-1, random(256)-1, random(256)-1)
$random-color-2: rgb(random(256)-1, random(256)-1, random(256)-1)
$random-color-3: rgb(random(256)-1, random(256)-1, random(256)-1)


// Wordpress
$wordpress-red: #dd3333
$wordpress-orange: #dd9933
$wordpress-yellow: #eeee22
$wordpress-green: #81d742
$wordpress-blue: #1e73be
$wordpress-purple: #8224e3

// Other
$darksand: rgba(200, 132, 83, 0.9)
$darksand-shadow: rgba(200, 132, 83, 0.1)
