//
// Some Useful color Vars via http://clrs.cc/
//

// Cool
$aqua:  #7FDBFF
$blue:  #0074D9
$navy:  #001F3F
$teal:  #39CCCC
$green: #2ECC40
$olive: #3D9970
$lime:  #01FF70


// Warm
$yellow:  #FFDC00
$orange:  #FF851B
$red:     #FF4136
$fuchsia: #F012BE
$purple:  #B10DC9
$maroon:  #85144B


// Gray Scale
$white:  #fff
$silver: #ddd
$gray:   #aaa
$black:  #111


// Theme
$theme-primary: #00254c
$theme-secondary: #b1b1b1
$theme-tertiary: #FFFFFF


// Isabel
$isabel-primary: #FFB6C1
$isabel-secondary: #00CED1
$isabel-tertiary: #228B22


// Random
$random-color: rgb(random(256)-1, random(256)-1, random(256)-1)
$random-color-2: rgb(random(256)-1, random(256)-1, random(256)-1)
$random-color-3: rgb(random(256)-1, random(256)-1, random(256)-1)


// Other
$darksand: #C27640
