html
  background-color: $theme-background
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  overflow-x: hidden
  width: 100%
  margin: 0
  padding: 0
  scroll-behavior: smooth

body
  background-color: $theme-background
  font-size: 1rem
  line-height: 1.6
  font-family: "Lexend", 'Century Gothic', sans-serif
  color: $theme-default
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  -moz-font-smoothing: antialiased
  -moz-text-size-adjust: 100%
  overflow-x: hidden
  width: 100%
  margin: 0
  padding: 0

progress
  border-radius: 5px
  width: calc(100% - 40px)
  height: 20px
  margin: 5px 20px 10px
  background: $theme-tertiary
  border: 1px solid $theme-primary
  overflow: hidden
  -webkit-appearance: none
  appearance: none

progress::-webkit-progress-bar
  background: $theme-tertiary
  border-radius: 5px

progress::-webkit-progress-value
  background: $theme-primary
  border-radius: 5px

progress::-moz-progress-bar
  background: $theme-primary
  border-radius: 5px

.button
  display: inline-block
  margin: 10px
  padding: 10px
  color: $theme-tertiary
  background-color: $theme-primary
  border-radius: 5px
  border: 2px solid $theme-primary

  &:focus
    outline: 0

  &:hover
    background-color: transparent
    border: 2px solid $theme-primary
    color: $theme-primary

#ron
  margin: 10px 0

button
  margin: 10px
  padding: 10px
  color: $theme-tertiary
  background-color: $theme-primary
  border-radius: 5px
  border: 2px solid $theme-primary
  transition-duration: 0.4s
  font-family: "Century Gothic"

  &:focus
    outline: 0

  &:hover
    background-color: transparent
    border: 2px solid $theme-primary
    color: $theme-primary