table
  border-collapse: separate
  border-spacing: 4px

td, th
  padding: 10px
  border-radius: 5px

th
  text-align: center
  background-color: $theme-primary
  color: $theme-tertiary

td
  background-color: $theme-secondary
  color: $theme-primary


.scroll-table
  overflow: auto