table
  border-collapse: separate
  border-spacing: 4px
  
.rouge-table
  .code
    padding: 0
  
  .gutter
    padding: 0
  
  pre
    margin: 0

td, th
  padding: 10px
  border-radius: 5px

th
  text-align: center
  background-color: $theme-primary
  color: $theme-tertiary

td
  background-color: $theme-secondary
  color: $theme-tertiary

.scroll-table
  overflow: auto
