# InteliJ Files/Folder
*.iml
.idea
.idea/

# Bash Shell
*.sh

# OS X
.DS_Store
.AppleDouble
.LSOverride
config.codekit

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Icon must end with two \r
Icon

# Thumbnails
._*

# Sass
.sass-cache

# Old example files
.old
.isabel


