.post-list

  h2
    margin-bottom: 5px

    a
      color: $theme-primary
      text-decoration: none

      &:hover
        color: lighten($theme-primary, 15%)




  p
    margin: 5px auto
    padding: 0px 5px