.post-list
  margin: 0 auto
  max-width: 1000px
  padding-left: 10px
  padding-right: 10px

  .post-block
    background-size: cover
    background-position: center
    margin: 10px 0
    border-radius: 5px

    .post-overlay
      display: block
      padding: 30px
      border-radius: 5px

      .post-block-content
        margin: 0
        padding: 10px
        display: inline-block
        border-radius: 10px
        backdrop-filter: blur(5px)
        -webkit-backdrop-filter: blur(5px)

        h2, p
          margin: 0
          color: $theme-tertiary
          text-shadow: 0 0 20px $theme-primary

        p
          font-size: 1.2rem
          font-weight: 500

  
    &:hover

      .post-overlay
        background-color: rgba(238, 238, 238, 0.2)
        backdrop-filter: blur(5px)
        -webkit-backdrop-filter: blur(5px)

        .post-block-content
          backdrop-filter: none
          -webkit-backdrop-filter: none



.world-map
  max-width: 1200px
  padding: 10px
  margin: 0 auto

  svg

    .map-country
      &:hover
        fill: $theme-primary

    .map-state
      &:hover
        fill: $theme-primary
