#contact-page

  #contact-lockup
    height: calc(100vh - 250px)

    .contact-item
      display: flex
      height: 100px
      padding: 20px

      .contact-socialicon
        height: 100%

        a
          svg
            circle
              stroke: $theme-primary
              fill: $theme-glass
              fill-opacity: 0
              stroke-width: 1.5px

            path
              fill: $theme-primary

            &:hover
              circle
                stroke-width: 0px
                fill: $theme-primary
                fill-opacity: 1

              path
                fill: $theme-tertiary

      .contact-content
        a
          h1
            line-height: 100px
            padding: 0 20px
            margin: 0
            color: $theme-primary

            &:hover
              color: $theme-primary-lite
