#contact-page

  height: 100vh
  overflow: hidden

  #contact-image
    display: block
    float: left
    width: 50%
    height: 100vh
    background:
      image: url(/assets/img/contact.jpg)
      size: cover
      position: 70% center

  #contact-lockup
    display: block
    float: left
    height: 100vh
    width: 50%
    padding-top: 50px
    padding-bottom: 0px

    .contact-item
      position: relative
      display: block
      height: calc(100vh / 8 - 50px / 8)
      +clearfix()

      .contact-socialicon
        display: inline-flex
        justify-content: center
        width: 25%
        height: 100%
        align-self: center

        a
          text-decoration: none
          align-self: center

          svg
            background-color: $theme-tertiary
            border-radius: 50%
            margin: 0 auto

            circle
              stroke: $theme-primary
              fill: $theme-tertiary

            path
              fill: $theme-primary

            &:hover
              circle
                stroke: $theme-tertiary
                fill: $theme-primary

              path
                fill: $theme-tertiary

      .contact-content
        display: inline-flex
        float: right
        align-items: center
        height: 100%
        width: 75%

        a
          text-decoration: none

          h1
            padding: 0 10px 0
            margin: 0
            color: $theme-primary

            &:hover
              color: lighten($theme-primary, 15%)

/* width media queries */

@media screen and (max-width: 1220px)
  #contact-page

    #contact-image
      width: 30%

    #contact-lockup
      width: 70%

@media screen and (max-width: 800px)
  #contact-page

    #contact-image
      width: 50%

    #contact-lockup
      width: 50%

      .contact-item
        width: 50%
        height: calc(100vh / 4 - 50px / 4)
        float: left

        .contact-socialicon
          width: 100%

        .contact-content
          display: none

@media screen and (max-width: 480px)
  #contact-page

    #contact-image
      width: 50%

    #contact-lockup
      width: 50%

      .contact-item
        width: 50%
        height: calc(100vh / 4 - 50px / 4)
        float: left

        .contact-socialicon
          width: 100%

          a

            svg
              +size(75px)

        .contact-content
          display: none

/* height media queries */

@media screen and (max-height: 780px)
  #contact-page

    #contact-image
      width: 50%

    #contact-lockup
      width: 50%

      .contact-item
        width: 50%
        height: calc(100vh / 4 - 50px / 4)
        float: left

        .contact-socialicon
          width: 100%

        .contact-content
          display: none

@media screen and (max-height: 480px)
  #contact-page

    #contact-image
      width: 50%

    #contact-lockup
      width: 50%

      .contact-item
        width: 50%
        height: calc(100vh / 4 - 50px / 4)
        float: left

        .contact-socialicon
          width: 100%

          a

            svg
              +size(75px)

        .contact-content
          display: none

@media screen and (max-height: 380px)
  #contact-page

    #contact-image
      width: 50%

    #contact-lockup
      width: 50%

      .contact-item
        width: 50%
        height: calc(100vh / 4 - 50px / 4)
        float: left

        .contact-socialicon
          width: 100%

          a

            svg
              +size(50px)

        .contact-content
          display: none