#contact-page
  position: relative
  height: 100vh
  overflow: hidden

  #contact-image
    display: block
    float: left
    width: 50%
    height: 100%
    background:
      image: url(/assets/img/profile.jpg)
      size: cover
      position: 30% 50%

  #contact-lockup
    display: block
    float: left
    width: 50%

    .contact-item
      position: relative
      width: 100%
      height: calc(100vh / 7)
      +clearfix()
      display: block
      margin: 0
      padding: 0

      a
        text-decoration: none

        .contact-socialicon
          display: block
          float: left
          width: 25%
          height: 100%

          svg
            background-color: $theme-tertiary
            border-radius: 50%
            display: block
            margin: 0 auto

            circle
              stroke: $theme-primary
              fill: $theme-tertiary

            path
              fill: $theme-primary

            &:hover
              circle
                stroke: $theme-tertiary
                fill: $theme-primary

              path
                fill: $theme-tertiary

        .contact-content
          display: block
          float: left
          text-align: left
          width: 75%
          height: 100%
          +display(flex)
          +align-items(center)
          +justify-content(space-around)

          h1
            padding: 0
            margin: 0
            height: 100%
            width: 100%
            color: $theme-primary


            &:hover
              color: lighten($theme-primary, 15%)


@media screen and (max-width: 780px)
  #contact-page

    #contact-lockup

      .contact-item

        a

          .contact-content

            h1
              font:
                size: 54px

@media screen and (max-width: 480px)
  #contact-page

    #contact-lockup

      .contact-item

        a

          .contact-socialicon
            width: 100%
            svg
              +size(75px)


          .contact-content
            display: none
            width: 0%
            h1
              font:
                size: 36px

