#isabel-page
  background: linear-gradient(to bottom right, $isabel-secondary, $isabel-primary, $isabel-tertiary)
  height: 100%

  .isabel-image
    display: block
    margin: 0 auto
    width: 300px
    border-radius: 25px

  .isabel-title
    margin: 0
    padding-top: 75px
    padding-bottom: 15px
    font:
      family: Garamond, serif
      size: 30px
    text-align: center
    color: darken($isabel-secondary, 20%)

  .isabel-text
    margin: 0 auto
    padding-top: 15px
    padding-bottom: 15px
    font:
      family: Garamond, serif
      size: 24px
    text-align: center
    color: darken($isabel-secondary, 20%)
    max-width: 400px

  #isabel-lockup
    margin: 0 auto
    padding: 0 0 50px 0
    +display(flex)
    height: 500px
    +align-items(center)
    +justify-content(space-around)

    .isabel-anniver
      height: 100%
      position: relative
      margin: 0
      padding: 0

#countdown
  background: #00ECB9
  font-family: Garamond, serif
  text-align: center
  color: white

  h3
    text-align: center
    color: white
    margin: 0 auto
    padding: 10px 0
    font:
      size: 36px
      weight: 600

  #clock
    display: inline-block
    text-align: center
    font:
      size: 30px
      weight: 400

    div
      display: inline-block
      padding: 10px
      border-radius: 3px
      background: #00BF96

      span
        display: inline-block
        padding: 15px
        border-radius: 3px
        background: #00816A

      .clock-labels
        padding-top: 5px
        color: white
        font:
          size: 16px
          weight: 400


.isabel-poetry
  background: linear-gradient(to right, whitesmoke, gold, whitesmoke)
  height: 100%
  font-family: Garamond, serif

  h3
    padding: 10px 0
    margin: 0
    color: white
    text-align: center
    font:
      size: 36px
      weight: 600

  .isabel-poem
    text-align: center
    max-width: 620px
    padding: 0 20px
    margin: 0 auto
    font:
      size: 20px
      weight: 400

    .poem-newline
      color: white
      font:
        size: 22px
        weight: 500
      padding-top: 10px
      line-height: 100%

    .poem-endline
      color: white
      font:
        size: 22px
        weight: 500
      padding-bottom: 20px
      line-height: 100%

    .poem-line
      color: white
      font:
        size: 22px
        weight: 500
      padding: 0
      margin: 0
      line-height: 100%




