.movie-container
  height: 300px
  border-bottom: 2px solid $theme-primary
  display: block
  position: relative

  .movie-image
    background-color: $theme-primary
    float: left

  .movie-content
    border-bottom: 2px solid red
    float: right

    .movie-title
      float: right
      color: $theme-primary

    .movie-year
      color: $theme-secondary

    .movie-description
      color: red

    .movie-review
      color: teal

