.movie-container
  height: 300px
  min-height: 300px
  overflow: hidden
  border-bottom: 2px solid $theme-primary
  margin: 0
  padding: 0
  display: flex
  +clearfix()

  .movie-image
    background: linear-gradient(to right, $theme-primary, $theme-secondary, $theme-primary)
    width: 25%
    display: flex
    justify-content: center
    overflow: hidden

    img
      height: 100%
      object-fit: cover
      align-self: center

  .movie-content
    // background-color: $theme-quartiary
    height: 100%
    width: 75%
    display: block
    float: left

    .movie-title
      color: $theme-primary
      text-align: center
      padding: 0
      margin: 10px auto

    .movie-year
      color: $theme-secondary
      text-align: center
      padding: 0
      margin: 10px auto

    .movie-description
      color: $theme-primary
      text-align: center
      padding: 0 5px
      margin: 5px auto
      font-size: 1.2rem

    .movie-review
      color: $theme-secondary
      text-align: center
      padding: 0 5px
      margin: 5px auto

