#portfolio
  margin: 0
  padding: 0

  .portfolio-unit
    margin: 0 auto
    +clearfix()
    display: flex
    position: relative
    cursor: pointer
    overflow: hidden
    min-height: 200px

    .portfolio-background
      width: 100%
      padding-top: 15%
      background:
        position: center center
        size: cover
        repeat: no-repeat

      &:hover
        transform: scale(1.05)
        transition: 2s
        overflow: hidden


    .portfolio-overlay
      position: absolute
      max-width: 480px
      background-color: rgba(white, 0.8)
      color: $theme-primary
      font-size: 24px
      text-align: center
      left: 50%
      bottom: 0%
      transform: translateX(-50%)
      padding: 5px


.portfolio-page
  position: relative
  background:
    size: cover
    position: center
    repeat: no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  padding: 30px 5px
  margin: 0

  .portfolio-content
    position: relative
    background: rgba(255, 255, 255, 0.9)
    max-width: 1024px
    margin: 0 auto
    padding: 0

    h3
      text-align: center
      color: $theme-primary
      margin: 0

    div
      margin: 0
      padding: 0

    p
      padding: 0 10px
      margin: 0

    ul
      text-align: left

    table
      margin: 0 auto
