#presentation-title
  padding-left: 10px
  margin: 10px

#presentation-table
  width: 100%
  padding: 10px
  background-color: #b8b8b8
  border: 1px $theme-primary solid
  padding: 10px

  tr

    th
      font:
        size: 24px
        weight: 700

    td




