#presentation-title
  padding: 10px 10px 0 10px

  h1
    margin: 0

.presentation-contents
  padding: 10px

  #presentation-table

    table
      width: 100%
      text-align: center
      margin: 0 auto
      border-collapse: separate
      border-spacing: 0px 10px

      tr

        th
          padding: 10px
          font:
            size: 24px
            weight: 700
          background-color: $theme-primary
          color: $theme-tertiary

        td
          text-align: center
          font-size: 16px
          margin: 0px auto
          background-color: $theme-secondary
          color: $theme-primary
          padding: 0

          a
            text-decoration: none
            color: $theme-tertiary
            background-color: $theme-primary
            padding: 10px 0px
            display: inline-block
            height: 100%
            width: 100%

            &:hover
              background-color: $theme-tertiary
              color: $theme-primary


@media screen and (max-width: 500px)
  #presentation-title
    font-size: 48px

  .presentation-contents

    #presentation-table

      tr

        th
          font-size: 20px

        td
          font-size: 12px