html { height: 100%; }

body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background: #eee;
}

#Stocks {
  display: block;
  min-height: 1em;
  background: #000000;
  color: #FFF;
  padding: 20px;
  vertical-align: middle;
  line-height: 1.4;
  text-align: center;
  transform: translateZ(0);
  cursor: pointer;
  font-size: 20px;
  font-family: "Roboto", Helvetica;
  animation-play-state: paused;
}

#Stocks b { font-weight: 300; }
#Stocks i { font-style: normal; }

#Stocks .Name,
#Stocks .Label,
#Stocks .LastUpdated { font-size: 0.7em; line-height: 1; }

#Stocks span {
  white-space: nowrap;
  display: inline-block;
  padding: 0 5px;
}
//#Stocks span { display: block; }

#Stocks .Symbol,
#Stocks .Stat { color: #88bd0a; }


#result {
  display: block;
  min-height: 1em;
  background: #000000;
  padding: 20px;
  vertical-align: middle;
  color: #88bd0a;
  text-align: center;
  transform: translateZ(0);
  cursor: pointer;
  font-size: 20px;
  font-family: "Roboto", Helvetica;
}

