<section id="about">

    <h3 class="about-title">About Me</h3>

    <div class="about-content">

        <div class="about-face"></div>

        <div class="about-item1"> {% include icons/airplane-icon.html %} </div>
        <div class="about-item2"> {% include icons/display-icon.html %} </div>
        <div class="about-item3"> {% include icons/embed-icon.html %} </div>
        <div class="about-item4"> {% include icons/rocket-icon.html %} </div>

    </div>

    <p class="about-me"><strong>Born at a very young age,</strong> I've been attached to computer since my two year old revision first laid fingers on windows 95. However, for those that like to classify people, consider me an everythinger. Skydiving, hiking, traveling, welding; you name it I've probably done it.</p>

</section>