<section id="about">

    <h3 class="about-title"><a href="/about">About Me</a></h3>

    <div class="about-content">

        <a href="/about/"><div class="about-face"></div></a>

        <div class="about-item1">{% include icons/airplane-icon.html %}</div>
        <div class="about-item2">{% include icons/display-icon.html %}</div>
        <div class="about-item3">{% include icons/embed-icon.html %}</div>
        <div class="about-item4">{% include icons/rocket-icon.html %}</div>

    </div>

    <div class="about-me">

        <strong>I enjoy intertwining my creativity with complex problem solving,</strong>
        whether it's coding, computer building, graphic design, 3D printing, laser engraving, welding or web development.
        My passion stems from an unrelenting desire to learn more,
        and the hope that I can change the world for the better.
    </div>

</section>