<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Glad you are reading this Lauren.</h2>
                <hr class="light">
                <p class="text-faded"> I'm thinking something like this for my professional site, obviously needs a lot of tweaks but its much cleaner looking.</p>
                <a href="#" class="btn btn-default btn-xl">Hi Mom!</a>
            </div>
        </div>
    </div>
</section>
