<section id="contact">

    <h3 class="contact-title">Contact</h3>

    <div class="contact-lockup">

        <div class="contact-item1"> {% include social-icons/skype.html %} </div>
        <div class="contact-item2"> {% include social-icons/github.html %} </div>
        <div class="contact-item3"> {% include social-icons/linkedin.html %} </div>
        <div class="contact-item4"> {% include social-icons/twitter.html %} </div>
        <div class="contact-item5"> {% include social-icons/facebook.html %} </div>

    </div>

</section>