<section id="contact">

    <h3 class="contact-title">Contact</h3>

    <div class="contact-lockup">

        {% for socialmedia in site.data.settings.social %}

            <a href="{{ socialmedia.link }}"><div class="contact-item socialcolor-{{ socialmedia.color }}"> {% include social-icons/{{ socialmedia.icon }}.html %} </div></a>

        {% endfor %}

    </div>

    <hr class="contact-line">

    <a href="mailto:tlee753@gatech.edu"><h1 class="contact-email">tlee753@gatech.edu</h1></a>

</section>