<section id="core">

    <div class="core-unit" id="bucket">
        <h3>Bucket List</h3>
        <div id="bucket-lockup">
            <p class="bucket-complete">&#10003 Solve a rubix cube</p>
            <p class="bucket-complete">&#10003 Learn a new language</p>
            <p class="bucket-complete">&#10003 Go skydiving</p>

            <p class="bucket-incomplete">Travel to all 7 continents (3/7)</p>
            <p class="bucket-incomplete">Read the Harry Potter Series</p>
            <p class="bucket-incomplete">Run a marathon</p>
        </div>
    </div>

    <div class="core-unit" id="favorites">
        <a href="/core/movies"><h1>Movie List</h1></a>
    </div>

</section>