<footer>

    <a href="http://www.tlee753.com/"><img class="footer-image" src="/img/icon.png" alt="icon"/></a>
    <div id="footer-content">
        <nav>
            <a href="http://www.tlee753.com/" class="footer-link">About</a>
            <a href="http://www.tlee753.com/" class="footer-link">Portfolio</a>
            <a href="http://www.tlee753.com/" class="footer-link">Blog</a>
            <a href="http://www.tlee753.com/" class="footer-link">Contact</a>
        </nav>
        <p id="copyright">
            Copyright Tyler Lee 2016
        </p>
    </div>
</footer>