<nav id="navbar">
    <a href="http://www.tlee753.com/"><img class="navbar-logo" src="/img/icon.png" alt="icon"/></a>
    <a href="http://www.tlee753.com/" class="navbar-brand"><div class="navbar-title">Tyler Lee</div></a>
    <a href="http://www.tlee753.com/" class="navbar-link"><div class="navbar-item"><div class="navbar-center">Contact</div></div></a>
    <a href="http://www.tlee753.com/" class="navbar-link"><div class="navbar-item"><div class="navbar-center">Blog</div></div></a>
    <a href="http://www.tlee753.com/" class="navbar-link"><div class="navbar-item"><div class="navbar-center">Portfolio</div></div></a>
    <a href="#about" class="navbar-link"><div class="navbar-item"><div class="navbar-center">About</div></div></a>
</nav>