<nav id="navbar">
    <a href="http://www.tlee753.com/" class="navbar-brand"><div class="navbar-title">Tyler Lee</div></a>
    <a href="http://www.tlee753.com/" class="navbar-link"><div class="navbar-item"><div class="vertical-center">Contact</div></div></a>
    <a href="http://www.tlee753.com/" class="navbar-link"><div class="navbar-item"><div class="vertical-center">Blog</div></div></a>
    <a href="http://www.tlee753.com/" class="navbar-link"><div class="navbar-item"><div class="vertical-center">Portfolio</div></div></a>
    <a href="http://www.tlee753.com/" class="navbar-link"><div class="navbar-item"><div class="vertical-center">About</div></div></a>
</nav>