<nav id="navbar">
    <a href="http://www.tlee753.com/" class="navbar-brand"><div class="navbar-title">Tyler Lee</div></a>
    <a href="http://www.tlee753.com/" class="navbar-link"><div class="navbar-item">Contact</div></a>
    <a href="http://www.tlee753.com/" class="navbar-link"><div class="navbar-item">Blog</div></a>
    <a href="http://www.tlee753.com/" class="navbar-link"><div class="navbar-item">Portfolio</div></a>
    <a href="http://www.tlee753.com/" class="navbar-link"><div class="navbar-item">About</div></a>
</nav>