<section id="quickport">

    <h3 class="quickport-title">Projects</h3>

    <div class="quickport-container">

        <a href="http://www.tlee753.com/" class="quickport-link">
            <div class="quickport-item">
                <img class="quickport-image" src="/img/quickport/quickport-1.jpg" alt="ascension"/>
            </div>
        </a>

        <a href="http://www.tlee753.com/" class="quickport-link">
            <div class="quickport-item">
                <img class="quickport-image" src="/img/quickport/quickport-2.jpg" alt="cargo robot"/>
            </div>
        </a>

        <a href="http://www.tlee753.com/" class="quickport-link">
            <div class="quickport-item">
                <img class="quickport-image" src="/img/quickport/quickport-3.jpg" alt="eagle scout project"/>
            </div>
        </a>

        <a href="http://www.tlee753.com/" class="quickport-link">
            <div class="quickport-item">
                <img class="quickport-image" src="/img/quickport/quickport-4.jpg" alt="electrathon vehicle"/>
            </div>
        </a>

    </div>

</section>
