<section id="skills">
    <div class="skill-lockup">
        <div class="skill-unit">
            <div class="skill-label">Communication</div>
            <div class="skill-icons" skill-7>
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Organization</div>
            <div class="skill-icons" skill-8>
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Learning</div>
            <div class="skill-icons" skill-9>
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Teaching</div>
            <div class="skill-icons" skill-8>
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Planning</div>
            <div class="skill-icons" skill-6>
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Visual Design</div>
            <div class="skill-icons" skill-6>
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">UX Design</div>
            <div class="skill-icons" skill-6>
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Programming</div>
            <div class="skill-icons" skill-8>
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
    </div>


</section>