<section id="slider">

    <h3 id="slider-title"><a href="/blog">Travel Blog</a></h3>

    <div id="slider-lockup">

        <a class="slider-button left" href="/" onclick=""><</a>
        <a class="slider-button right" href="/" onclick="">></a>

        {% for slide in site.data.settings.slider %}

            <div class="slider-image">
                <img src="/assets/img/slider/{{ slide.image }}.jpg"/>
                <div class="slider-label">{{ slide.name }}</div>
            </div>

        {% endfor %}

    </div>

</section>