<section id="slider">

    <div id="slider-lockup">

        <h3 id="slider-title"><a href="/blog">Travel Blog</a></h3>

        <a class="slider-button left" onclick="plusDivs(-1)"><</a>
        <a class="slider-button right" onclick="plusDivs(1)">></a>

        {% for slide in site.data.settings.slider %}

            <div class="slider-image" style="background-image: url(/assets/img/slider/{{ slide.image }}.jpg); position: center; background-repeat: no-repeat;">
                <div class="slider-label">{{ slide.name }}</div>
            </div>

        {% endfor %}

    </div>

</section>