<section id="work">

    <h3 class="work-title">Work</h3>

    <div class="work-container">

        <a href="" class="work-unit">
            <div class="work-overlay">
                <strong>Ascension Computer Build</strong>
                <div class="zoom-icon"></div>
            </div>
        </a>

        <a href="" class="work-unit">
            <div class="work-overlay">
                <strong>Ascension Computer Build</strong>
                <div class="zoom-icon"></div>
            </div>
        </a>

        <a href="" class="work-unit">
            <div class="work-overlay">
                <strong>Ascension Computer Build</strong>
                <div class="zoom-icon"></div>
            </div>
        </a>

        <a href="" class="work-unit">
            <div class="work-overlay">
                <strong>Ascension Computer Build</strong>
                <div class="zoom-icon"></div>
            </div>
        </a>

        <a href="" class="work-unit">
            <div class="work-overlay">
                <strong>Ascension Computer Build</strong>
                <div class="zoom-icon"></div>
            </div>
        </a>

        <a href="" class="work-unit">
            <div class="work-overlay">
                <strong>Ascension Computer Build</strong>
                <div class="zoom-icon"></div>
            </div>
        </a>

        <a href="" class="work-unit">
            <div class="work-overlay">
                <strong>Ascension Computer Build</strong>
                <div class="zoom-icon"></div>
            </div>
        </a>

        <a href="" class="work-unit">
            <div class="work-overlay">
                <strong>Ascension Computer Build</strong>
                <div class="zoom-icon"></div>
            </div>
        </a>

    </div>



</section>
