---
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

{% include navbar.html %}

    <section id="isabel-page">
        <h1 class="isabel-title">Isabel is the most amazing girlfriend, I am so blessed and grateful to have such a wonderful person in my life. Miss you :)</h1>
        <img class="isabel-image" src="/assets/img/isabel/isabel.jpg"/>
        <!-- <h1 class="isabel-title">"Not crass enough, I don't give a shit" - Isabel Wickliffe (FASET 2015)</h1> -->
        <p class="isabel-text"><strong>Isabel,</strong> you always bring a smile to my face and joy to my heart, celebrating an amazing year with the one and only <strong>you</strong></p>
        <div id="isabel-lockup">
            <img class="isabel-anniver" src="/assets/img/isabel/anniver-1.jpg">
            <img class="isabel-anniver" src="/assets/img/isabel/anniver-2.jpg">
            <img class="isabel-anniver" src="/assets/img/isabel/anniver-3.jpg">
            <img class="isabel-anniver" src="/assets/img/isabel/anniver-4.jpg">
        </div>
    </section>

    <section class="isabel-poetry">

        <h3>Radiance</h3>

        <div class="isabel-poem">

            <div class="poem-line">A golden glow touches my heart,</div>
            <div class="poem-line">Always there no matter how far apart,</div>
            <div class="poem-line">Gracefully lifting my spirits and brightening my days,</div>
            <div class="poem-line">It shines from my most perfect angel, who never ceases to amaze</div>
<!--
            <div class="poem-newline">Test Stanza</div>
            <div class="poem-line"></div>
            <div class="poem-line"></div>
            <div class="poem-line"></div>

            <div class="poem-newline">Please, please don't read this</div>
            <div class="poem-line"></div>
            <div class="poem-line"></div>
            <div class="poem-line"></div>

            <div class="poem-newline">Seriously, I want to be as perfect as you (ok that's impossible)</div>
            <div class="poem-line"></div>
            <div class="poem-line"></div>
            <div class="poem-line"></div>
-->
            <div class="poem-newline">I am so lucky to have her, she's a dream come true</div>
            <div class="poem-line">I could never want anything when I have you</div>
            <div class="poem-line">I hope you know that I am head over heels</div>
            <div class="poem-endline">Isabel Wickliffe, I love you for realz</div>

        </div>

    </section>

{% include footer.html %}

</body>
</html>