---
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

{% include navbar.html %}

<div id="mom-page">

    <h1 id="mom-title">Happy Birthday Mom!!!</h1>

    <p class="mom-text">Greetings from Ecuador :D</p>
    <p class="mom-text"><strong>Mom</strong>, you're simply the best. After about a year without you, it still never ceases to amaze me what a powerful, lasting, and meaningful impact you have had and continue to have on my life along with so many others. I am so blessed to be your son and hope you enjoy every moment of your extraordinarily special day.</p>
    <p class="mom-text"> Alright here's a joke from your favorite son: Why are computers so smart? Because they listen to their motherboard!!! XD</p>
    <p class="mom-text">Have a wonderful day, love Tyler</p>

</div>

{% include footer.html %}

</body>
</html>