<svg
    viewBox="0 0 1000 1000"
    width="50"
    height="50"
    xmlns="http://www.w3.org/2000/svg">

    <g>
        <!-- background -->
        <!-- <rect
            x="0"
            y="0"
            height="1000"
            width="1000"
            style="fill:ghostwhite; fill-opacity:1; stroke:none;"
        /> -->
        
        <!-- outer circle -->
        <circle
            r="400"
            cx="500"
            cy="500"
            style="fill:transparent; fill-opacity:1; stroke:#193a5d; stroke-width:60px; stroke-opacity:1"
        />

        <!-- inner visual circle -->
        <!-- <circle
            r="300"
            cx="500"
            cy="500"
            style="fill:transparent; fill-opacity:1; stroke:green; stroke-width:10px; stroke-opacity:1"
        /> -->

        <!-- left path-->
        <circle
            r="30"
            cx="448"
            cy="205"
            style="fill:#193a5d;"
        />
        <circle
            r="30"
            cx="448"
            cy="795"
            style="fill:#193a5d;"
        />
        <line
            x1="448"
            y1="205"
            x2="448"
            y2="795"
            style="fill:#193a5d; stroke-width:60px; stroke-opacity:1; stroke:#193a5d;"
        />
        <circle
            r="30"
            cx="240"
            cy="350"
            style="fill:#193a5d;"
        />
        <path
            d="m 448,205 C 367,219 281,279 240,350"
            style="stroke:#193a5d; stroke-width:60px; fill:transparent;"
        />

        <!-- right path -->
        <circle
            r="30"
            cx="552"
            cy="205"
            style="fill:#193a5d;"
        />
        <circle
            r="30"
            cx="552"
            cy="795"
            style="fill:#193a5d;"
        />
        <line
            x1="552"
            y1="200"
            x2="552"
            y2="800"
            style="fill:#193a5d; stroke-width:60px; stroke-opacity:1; stroke:#193a5d;"
        />
        <circle
            r="30"
            cx="760"
            cy="650"
            style="fill:#193a5d;"
        />
        <path
            d="m 552,795 C 633,781 719,721 760,650"
            style="stroke:#193a5d; stroke-width:60px; fill:transparent;"
        />

        <!-- crosshairs -->
        <!-- <line 
            x1="0"
            y1="500"
            x2="1000"
            y2="500"
            style="stroke:black;"
        />
        <line 
            x1="500"
            y1="0"
            x2="500"
            y2="1000"
            style="stroke:black;"
        /> -->
    </g>
</svg>