ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: $theme-glass;
  font-size: 18px;
  border-radius: 5px;
  margin: 20px 10px 0px
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: $theme-primary;
  content: ">\00a0";
}

ul.breadcrumb li a {
  color: $theme-primary;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: lighten($theme-primary, 10%);
}