#contact
  background: linear-gradient(to bottom right, $theme-primary, $theme-secondary)

  .temp
    text-align: center
    color: $theme-tertiary
    font:
      size: 30px
      weight: 400
    padding-top: 20px
    padding-bottom: 20px
    margin: 0

    &:hover,
    &:focus
      color: $theme-primary