#contact
  background:
    color: $theme-tertiary

  .contact-title
    margin: 0
    padding: 15px 0 15px
    color: $theme-primary
    text-align: center

  .contact-lockup
    margin: 0 auto
    padding: 10px 0 10px
    +display(flex)
    +align-items(center)
    +justify-content(space-around)


    .contact-item
      background: $theme-tertiary

      svg
        background-color: $theme-tertiary
        border-radius: 50%

        path
          fill: $theme-primary

        #Oval
          stroke: $theme-primary

        &:hover
          path
            fill: $theme-tertiary

          #Oval
            fill: $theme-primary
            stroke: $theme-tertiary





