#core
  background: radial-gradient(circle, $theme-primary, $theme-secondary, $theme-tertiary)
  height: 200px
  overflow: hidden

  a

    h1
      text-align: center
      color: white
      padding-top: 50px
      padding-bottom: 80px
      margin: 0 auto

      &:hover
        color: $theme-secondary