#core

  .core-unit
    width: 50%
    height: 300px
    float: left

  #bucket
    background: radial-gradient(circle, $theme-tertiary,$theme-tertiary, $theme-secondary, $theme-primary)
    text-align: center


    h3
      margin: 0 auto
      padding: 10px 0 10px
      position: relative
      font:
        size: 36px
        weight: 700
      color: $theme-primary

    #bucket-lockup
      padding-bottom: 10px

      .bucket-complete
        line-height: 150%
        margin: 0
        text-decoration: line-through
        font:
          size: 18px
          weight: 700
        color: $theme-primary

      .bucket-incomplete
        line-height: 150%
        margin: 0
        font:
          size: 18px
          weight: 700
        color: $theme-primary

  #favorites
    background: radial-gradient(circle, $theme-primary, $theme-primary, $theme-secondary, $theme-tertiary)
    text-align: center
    line-height: 300px

    a
      width: 100%
      height: 100%

      h1
        display: inline-block
        color: white
        margin: 0 auto
        line-height: normal

      &:hover
        color: $theme-secondary

@media screen and (max-width: 780px)
  #core

    .core-unit
      width: 100%