footer
  border-top: 10px solid $theme-primary
  border-radius: 5px
  height: 200px
  background:
    color: $theme-tertiary
    // image: url(/assets/img/footer/footer.jpg)
    size: cover
    position: 50% 75%
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  display: flex
  margin: 0 auto
  
  #footer-content
    margin: 20px auto
    text-align: center
    
    nav
      .footer-link
        margin: 0 10px
        color: $theme-blue-glass
        font:
          size: 20px
          weight: 500
        &:hover,
        &:focus
          color: $theme-glass

    #copyright
      text-transform: uppercase
      text-align: center
      color: $theme-secondary
      margin-top: 10px
      font:
        size: 18px
