#navbar
  height: 50px
  position: fixed
  background: #efefef
  opacity: 0.8
  z-index: 10
  text-decoration: none
  margin: 0
  padding: 0
  width: 100%

  .branding
    float: left
    overflow: hidden

    .navbar-logo
      float: left
      padding-left: 10px
      line-height: 0

      svg
        height: 50px
        width: 50px

        .piece-0
          fill: $theme-tertiary

        .piece-1
          fill: $wordpress-blue

        .piece-2
          fill: black

        .line
          fill: none
          stroke: black
          stroke-width: 3
          stroke-miterlimit: 10

    .navbar-title
      float: left
      margin: 0
      padding-left: 15px
      line-height: 50px
      color: $theme-primary
      font:
        size: 2.0em
        weight: 700
      &:hover,
      &:focus
        color: lighten($theme-primary, 10%)

    .handle
      display: none
      float: right
      height: 50px
      width: 50px
      padding: 0
      text-align: left
      border: none

      #navbar-menu

        svg
          height: 100%
          border-radius: 50%

          path
            stroke-width: 1px
            stroke: $theme-primary
            fill: $theme-primary


  ul
    overflow: hidden
    margin: 0
    padding: 0
    text-align: center
    transition: max-height 0.5s
    -webkit-transition: max-height 0.5s
    -ms-transition: max-height 0.5s
    -moz-transition: max-height 0.5s
    -o-transition: max-height 0.5s

    .navbar-item
      display: inline-block
      float: right
      padding: 0 15px
      line-height: 50px
      font:
        size: 1.2em
        weight: 400
      text-transform: uppercase
      color: $theme-primary
      background-color: #efefef

      &:hover,
      &:focus
        color: white
        background-color: $theme-primary


@media screen and (max-width: 780px)
  #navbar

    .branding
      float: none

      .handle
        display: inline

        #navbar-menu

          svg.show
            background-color: $theme-primary

            path
              stroke: $theme-tertiary
              fill: $theme-tertiary

    ul
      max-height: 0
      width: 100%

      .navbar-item
        box-sizing: border-box
        width: 100%

    ul.show
      max-height: 200px




