#navbar
  height: 50px
  position: fixed
  //background: linear-gradient(to top, rgba($theme-primary, 0.8) 5%, rgba(white, 0.8), rgba($theme-primary, 0.8))
  background: linear-gradient(to left, #b9deed, #efefef) //rgba(white, 0.8)
  opacity: 0.8
  //background: linear-gradient(limegreen, transparent), linear-gradient(90deg, skyblue, transparent), linear-gradient(-90deg, coral, transparent)
  background-blend-mode: screen
  z-index: 2
  width: 100vw
  text-decoration: none
  //border-bottom: $theme-primary solid 2px
  margin-right: auto
  margin-left: auto

  .navbar-logo
    opacity: 1.0
    float: left
    position: relative
    height: 80%
    vertical-align: center
    padding: 5px 0px 5px 15px

  .navbar-brand
    opacity: 1.0
    text-decoration: none
    color: $theme-primary

  .navbar-link
    text-transform: uppercase
    opacity: 1.0
    padding: 100% 0px 100% 0px
    text-decoration: none
    color: $theme-primary
    &:hover,
    &:focus
      color: white

  .navbar-title
    opacity: 1.0
    float: left
    position: relative
    padding-left: 15px
    height: 100%
    color: $theme-primary
    font:
      size: 2.0em
      weight: 700
    &:hover,
    &:focus
      color: lighten($theme-primary, 10%)

  .navbar-item
    opacity: 1.0
    //border-left: $theme-primary solid 2px
    display: flex
    align-items: center
    float: right
    position: relative
    padding-left: 15px
    padding-right: 15px
    height: 100%
    font:
      size: 1.2em
      weight: 400
    &:hover,
    &:focus
      color: white
      background-color: $theme-primary

    .navbar-center
      vertical-align: middle
      display: inline-block


@media screen and (max-width: 780px)
  #navbar

    .navbar-item
      display: none
      position: absolute


