#profile
  height: 800px
  width: 100%

  #profile-background
    position: fixed
    background:
      // image: url(/assets/img/profile/profile.jpg)
      image: url(/assets/img/travel/Switzerland/Geneva/Geneva-43.jpg)
      position: 70% center
      size: cover
    height: 100vh
    width: 100%

  .profile-text
    z-index: 2
    position: absolute
    left: 50%
    top: 12%
    transform: translateX(-50%)
    text-align: center
    max-width: 560px
    margin: 0 auto
    font:
      size: 24px
      weight: 700
    color: $theme-tertiary
    text-shadow: 1px 1px 1px $theme-primary

    i
      color: $theme-alternate
      text-shadow: 1px 1px 1px white