#profile
  background:
    image: url(/assets/img/profile.jpg)
    size: cover
    position: center center
  height: 550px

  .profile-text
    text-align: center
    max-width: 620px
    padding: 100px 20px
    margin: 0 auto
    font:
      size: 24px
      weight: 700
    color: $theme-tertiary