#skills

  .skill-lockup
    max-width: 600px
    margin: 0 auto
    padding: 30px 0 0 0

    .skill-unit
      width: 300px
      float: left

      .skill-label
        font-size: 20px

      .skill-icons
        font-size: 0
        margin: 3px 0 20px

        span
          border: 1px solid $theme-secondary
          display: inline-block
          height: 16px
          width: 16px
          margin-right: 8px
          border-radius: 50%
          background-color: $theme-primary

        @for $i from 1 through 10
          &.skill-#{$i} span:nth-child(n+#{$i+1})
            @extend %skill-color

%skill-color
  background: $theme-tertiary

@media screen and (max-width: 540px)
  .skill-lockup
    width: 220px

    .skill-unit
      width: 220px