#skills

  .skill-lockup
    margin: 30px auto

    .skill-unit
      text-align: center
      margin: 10px 0

      .skill-label
        font-size: 20px

      .skill-icons
        font-size: 0

        span
          border: 2px solid $theme-primary
          display: inline-block
          height: 16px
          width: 16px
          margin-right: 10px
          border-radius: 50%
          background-color: $theme-primary

        @for $i from 1 through 10
          &.skill-#{$i} span:nth-child(n+#{$i+1})
            background: $theme-tertiary
            border: 2px solid $theme-secondary