#slider
  background: $theme-secondary
  padding-bottom: 30px

  a
    text-decoration: none

    #slider-title
      text-align: center
      color: white
      margin: 0
      padding: 15px 0 15px


      &:hover
        color: $theme-primary

  #slider-lockup
    height: 400px
    background:
      image: url(/assets/img/slider/slider-4.jpg)
      position: center center
      size: cover

    a

    .slider-image
      +display(flex)
      +align-items(center)
      +justify-content(space-around)
