#slider
  background: $theme-secondary
  padding-bottom: 30px
  position: relative

  #slider-title
    text-align: center
    margin: 0 auto
    padding: 15px 0 15px

    a
      text-decoration: none
      color: $theme-tertiary

      &:hover
        color: $theme-primary

  #slider-lockup
    height: 400px
    background: pink
    overflow: hidden

    .slider-button
      position: absolute
      top: 50%
      +size(50px)
      background: fade-out($theme-tertiary, 0.2)
      +display(flex)
      +align-items(center)
      +justify-content(space-around)
      font:
        size: 24px
        weight: 700
      color: $theme-primary
      transform: translateY(-50%)

      &:hover
        background: fade-out($theme-primary, 0.2)
        color: $theme-tertiary


    .left
      left: 0%

    .right
      right: 0%

    .slider-image
      margin: auto

      img
        width: 100%

      .slider-label
        text-align: center
