#isabel-page
  background-color: $random-color
  height: 1200px

  .isabel-image
    width: 500px
    border-radius: 25px

  .isabel-centered
    text-align: center
    align: center

  .isabel-title
    margin: 0
    padding-top: 15px
    padding-bottom: 15px
    font-family: Garamond
    font-size: 30px
    text-align: center
    align: center
    color: $random-color-2