#isabel-page
  background: linear-gradient(to bottom right, $isabel-secondary, $isabel-primary, $isabel-tertiary)
  height: 100vh

  .isabel-image
    display: block
    margin: 0 auto
    width: 500px
    border-radius: 25px

  .isabel-title
    margin: 0
    padding-top: 75px
    padding-bottom: 15px
    font-family: Garamond
    font-size: 30px
    text-align: center
    color: darken($isabel-secondary, 20%)

  .isabel-poetry
    margin: 0
    padding-top: 15px
    padding-bottom: 15px
    font:
      family: Garamond
      size: 24px
    text-align: center
    color: darken($isabel-secondary, 20%)

  .isabel-song
    max-width: 500px
    height: 20px