#isabel-page
  background: linear-gradient(to bottom right, $isabel-secondary, $isabel-primary, $isabel-tertiary)
  height: 100%

  .isabel-image
    display: block
    margin: 0 auto
    width: 300px
    border-radius: 25px

  .isabel-title
    margin: 0
    padding-top: 75px
    padding-bottom: 15px
    font-family: Garamond
    font-size: 30px
    text-align: center
    color: darken($isabel-secondary, 20%)

  .isabel-poetry
    margin: 0 auto
    padding-top: 15px
    padding-bottom: 15px
    font:
      family: Garamond
      size: 24px
    text-align: center
    color: darken($isabel-secondary, 20%)
    max-width: 400px

  .isabel-song
    max-width: 500px
    height: 20px

  #isabel-lockup
    margin: 0 auto
    padding: 0px 0px 50px 0px
    +display(flex)
    height: 500px
    +align-items(center)
    +justify-content(space-around)

    .isabel-anniver
      height: 100%
      positition: relative
      margin: 0
      padding: 0
