#proj-6
  position: relative
  background:
    image: url(/assets/img/work/proj-6/display.jpg)
    size: cover
    position: center
    repeat: no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  padding: 30px 5px
  margin: 0

  #proj-6-content
    position: relative
    background: rgba(255, 255, 255, 0.8)
    text-align: center
    max-width: 1024px
    margin: 0 auto
    padding: 0

    h3
      color: $theme-primary

    p
      padding: 0 10px