#proj-1
  overflow: hidden
  height: 100vh

  #proj-1-content
    display: block
    float: left
    width: 50%
    height: 100%

  #proj-1-image
    display: block
    float: left
    width: 50%
    height: 100%
    background:
      image: url(/assets/img/work/proj-1/display.jpg)
      size: cover
