#proj-1
  overflow: hidden
  height: 80vh

  #proj-1-content
    display: block
    float: left
    width: 50%
    height: 100%

    h3
      padding-left: 10px

  #proj-1-image
    display: block
    float: left
    width: 50%
    height: 100%
    background:
      image: url(/assets/img/work/proj-1/display.jpg)
      size: cover
