.video {
    margin: auto;
    align: center;
    text-align: center;
    margin: 50px 20px 20px 0px;
    background-color: #000000;
    
}

body {
    background-image: url("http://www.unoosa.org/res/timeline/index_html/space-2.jpg");
    background-color: #1e73be;
}