.video {
    margin: auto;
    align: center;
    text-align: center;
    margin: 50px 20px 20px 0px;
    background-color: #000000;
    
}

body {
    background-image: url("http://www.mrwallpaper.com/wallpapers/space-sparkling-stars-1920x1200.jpg");
    background-color: #000000;
}