#about
  font:
    size: 20px
    weight: 400

  h3
    color: $theme-primary
    text-align: center

  .about-me
    text-align: center
    max-width: 620px
    padding: 0 20px
    margin: 50px auto
    font:
      size: 20px
      weight: 400

    strong
      color: $theme-primary

  .about-content
    max-width: 780px
    +display(flex)
    margin: 0 auto
    +align-items(center)
    +justify-content(space-around)


    .about-face
      border-radius: 50%
      width: 200px
      height: 200px
      +order(3)
      background:
        image: url('/img/headshot.jpg')
        size: cover

    [class^="about-item"]
      background: $theme-secondary
      border-radius: 50%
      height: 100px
      width: 100px
      display: flex
      align-items: center
      text-align: center

      .about-center
        +size(60px)
        position: relative
        margin: 0 auto

      path
        fill: $theme-primary

      &.about-item1
        +order(1)

      &.about-item2
        +order(2)

      &.about-item3
        +order(4)

      &.about-item4
        +order(5)

@media screen and (max-width: 780px)
  .about-content
    display: block
    text-align: center

    div
      display: inline-block

    .about-face
      display: block
      background:
        position: center center
        repeat: no-repeat
      margin: 0 auto 30px

    [class^="about-item"]
      margin: 10px 9%
