#about
  font:
    size: 20px
    weight: 400

  h3
    color: $theme-primary
    text-align: center

  .about-me
    text-align: center
    max-width: 620px
    padding: 0 20px
    margin: 50px auto
    font:
      size: 20px
      weight: 400

    strong
      color: $theme-primary

  .about-content
    max-width: 780px
    +display(flex)
    margin: 0 auto
    +align-items(center)
    +justify-content(space-around)


    .about-face
      border-radius: 50%
      width: 200px
      height: 200px
      order: 3
      background:
        image: url('/img/headshot.jpg')

    [class^="about-item"]
      background: $theme-secondary
      border-radius: 50%
      height: 100px
      width: 100px
      margin: auto auto


      path
        fill: $theme-primary

      &.about-item1
        order: 1

      &.about-item2
        order: 2

      &.about-item3
        order: 4

      &.about-item4
        order: 5