#quickport
  position: relative
  background: $theme-primary
  padding: 0px
  width: 100%

  .quickport-container
    position: relative
    margin-left: auto
    margin-right: auto
    height: auto
    width: 100%

    .quickport-link
      text-decoration: none

      .quickport-item
        position: relative
        display: inline-block
        width: 24%

        .quickport-image
          position: relative
          width: 100%
