#quickport
  position: relative
  background: $theme-secondary
  padding: 0px
  width: 100%

  .quickport-title
    color: $theme-primary
    text-align: center

  .quickport-container
    position: relative
    margin-left: auto
    margin-right: auto
    height: 100%
    width: 100%

    .quickport-link
      text-decoration: none

      .quickport-item
        position: relative
        display: inline-block
        width: 24.75%

        .quickport-image
          position: relative
          width: 100%
