<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

{% include navbar.html %}

<section class="portfolio-page" style="background-image: url(/assets/img/portfolio{{ page.permalink }}background.jpg);">
    <div class="portfolio-content" markdown="1">

        <h3>{{ page.title }}</h3>
        <p>Project Status: {{ page.progress }}%</p>
        <progress max="100" value="{{ page.progress }}"></progress>

        {{ content }}

    </div>
</section>


{% include footer.html %}

</body>
</html>